{
  "drachtio": {
    "host": "127.0.0.1",
    "port": 9022,
    "secret": "cymru"
  },
  "freeswitch": {
    "address": "127.0.0.1",
    "port": 8021,
    "secret": "ClueCon"
  },
  "logging": {
    "level": "debug"
  },
  "proxies": ["10.10.10.1"],
  "dialogflow": {
    "project": "<dialogflow-project-id-goes-here>",
    "credentials": "<service-account-path-goes-here>",
    "lang": "en-US",
    "events": {
      "welcome": "welcome"
    },
    "noInputTimeout": "15000"
  },
  "callTransfer": {
    "method": "INVITE",
    "domain": "your.trunking.provider.ip.or.dns",
    "auth": {
      "username": "foo",
      "password": "bar"
    }
  }
}